@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    font-size: clamp(31%, 0.8vw, 62.5%);
  }

  body {
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    background: #fff;
    font-size: 1.6rem ;
    scrollbar-gutter: 1.6rem
    
  }
}

.base-max-width {
  @apply max-w-[128rem] mx-auto;
}

.infinite-bg {
  background: url('./../public/images/infinite-bg.png') #ffffff 50% 100% / 273rem 12.8rem repeat-x;
  background-position-x: 0rem;
}