@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    background: #fff;

    font-family: 'Roboto', sans-serif
  }
}

  .base-max-width {
    @apply max-w-[1280px];
  }